<h2>Mis Tareas</h2>
{{#if userId}}
    <ul>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Completed</th>
                </tr>
            </thead>
            <tbody>
                {{#each todos}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{title}}</td>
                        <td>
                            {{#if completed}}
                                <span>Si</span>
                            {{else}}
                                <span>No</span>
                            {{/if}}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </ul>
{{else}}
    <p>Requiere UserID</p>
{{/if}}
